@page "/categorias/editar/{CategoryId:long}"
@inherits UpdateCategoryPage

<MudText Typo="Typo.h4" Class="mt-4">Editar Categoria</MudText>

<MudPaper Class="pa-8 mt-4">
    <EditForm Model="@Category" OnValidSubmit="OnSaveAsync">
        <DataAnnotationsValidator />

        <MudTextField Label="Título"
                      HelperText="Campo obrigatório"
                      @bind-Value="Category.Title"
                      For="@(() => Category.Title)" />

        <MudTextField Label="Descrição"
                      Lines="5"
                      HelperText="Campo obrigatório"
                      @bind-Value="Category.Description"
                      For="@(() => Category.Description)" />

        @if (IsBusy)
        {
            <MudProgressCircular Class="mt-4" Indeterminate="true" Color="Color.Secondary" />
        }
        else
        {
            <div class="d-flex gap-4 mt-4">
                <MudButton Href="/categorias" ButtonType="ButtonType.Button" Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.ArrowBack">Voltar</MudButton>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Secondary">Salvar</MudButton>
            </div>      
        }

    </EditForm>
</MudPaper>
